CREATE TABLE IF NOT EXISTS customers (
    customer_id INT,
    name VARCHAR(100),
    city VARCHAR(50)
);

CREATE TABLE IF NOT EXISTS accounts (
    account_id INT,
    customer_id INT,
    account_type VARCHAR(20),
    balance FLOAT
);

CREATE TABLE IF NOT EXISTS transactions_tbl (
    txn_id INT,
    account_id INT,
    txn_type VARCHAR(10),
    amount FLOAT
);